%h1 Now Showing

%table{:class=>'display',:id=>'timetables-index-table',:style=>'width:100%'}
  %thead
    %tr
      %th Movie Name
      %th Type
      %th Theater
      %th Start Time
      %th Stop Time
      %th
      %th

  %tbody
    - @timetables.each do |timetable|
      %tr
        %td= timetable.movie.name
        %td= timetable.movie.movietype
        %td= timetable.theater.name
        %td= timetable.time_start
        %td= timetable.time_stop

%br

:javascript 
  $(document).ready(function() {
    $('#timetables-index-table').DataTable( {
        columnDefs: [ {
            targets: [ 0 ],
            orderData: [ 0, 1 ]
        }, {
            targets: [ 1 ],
            orderData: [ 1, 0 ]
        } ]
    } );
  } );
        
