%h1 Inventory

%table{:class=>'display',:id=>'tickets-index-table',:style=>'width:100%'}
  %thead
    %tr
      %th Movie
      %th Theater
      %th Chair
      %th Start Time
      %th Stop Time
      %th price
      %th 

  %tbody
    - @inventory_ticket.each.with_index() do |ticket,index|
      %tr
        %td= ticket.timetable.movie.name
        %td= ticket.timetable.theater.name
        %td= ticket.chair.name
        %td= ticket.timetable.time_start
        %td= ticket.timetable.time_stop
        %td= ticket.chair.price
        %td
          = simple_form_for(@ticket, method: :post, url: '/ticket/'+ticket.timetable.id.to_s) do |f|
            .form-inputs
              = f.association :chair,:as => :hidden
            .form-actions
              -if(Ticket.find_by(:inventory_id => @inventory.id))
                = f.button :submit,'Remove',class:'btn btn-danger mt-3',action:'Remove'
              -else
                = f.button :submit,'Add to inventory',class:'btn btn-success mt-3',action:'Add'
        %td 
          = simple_form_for(@user) do |f|
            .form-inputs
              = f.input :id,:as => :hidden
    
%br

%div
= 'Total amount ' + @inventory_price.to_s + ' bahts.'

.form-action
= link_to 'Check out', "/check_out", class:"btn btn-outline-primary mt-3"

:javascript 
  $(document).ready(function() {
    $('#tickets-index-table').DataTable( {
        columnDefs: [ {
            targets: [ 0 ],
            orderData: [ 0, 1 ]
        }, {
            targets: [ 1 ],
            orderData: [ 1, 0 ]
        } ]
    } );
  } );
