%h1 Listing tickets

%table
  %thead
    %tr
      %th Movie
      %th Theater
      %th Chair
      %th Inventory
      %th
      %th

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.timetable.movie.name
        %td= ticket.timetable.theater.name
        %td= ticket.chair.name
        %td= ticket.inventory.user.username
        %td= link_to 'Show', ticket
        %td= link_to 'Edit', edit_ticket_path(ticket)
        %td= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ticket', new_ticket_path
